/* Create three unequal columns that floats next to each other */
h1 {
color: whitesmoke;
}
p {
  color: whitesmoke;
  
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  height: 40px;
  font-size: 24px;
  }
li{
  display: inline;
  float: left;
  
  
}

li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  color: white;
}
li a:hover {
  background-color: #111;
}

